

*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  max-width: 1525px;
  
}

/*header*/
header {
text-align: center;
box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
}


body{
  margin: 0;

}

.produtoseservicos{

  text-align: center;
 
}


footer {
  
  padding-bottom: 16px;
  border: 2px solid #eee;
 background-color:rgba(48, 46, 68, 0.055);
}

/*main{
    text-align: center;    
    
    background-position: center;
    background-repeat:repeat ;
    
}*/

footer{
    margin-top: auto;
    text-align: center;
}



section.form {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-gap:45px ;
     align-items: center;
     background-color:rgb(14, 112, 211) ;
     border-radius: 7px;
     padding: 16px 64px
     
}

/*imagem U unect*/
.logo{
 border-radius: 6px;
 margin-top: 10px;
 box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
}



/*forma dos botoes*/
     form input,
     form button{

     width: 100%;
     margin-bottom:4px;
     box-sizing: border-box;
     padding: 8px 16px;
     border-radius: 6px;
     border: 1px  rgb(3, 148, 231)solid;
     box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
} 

form input{
 background-color: transparent;

}


form input::placeholder{
 color: #050505aa;
}

 .form, main {
   margin: 0 auto 70px;
    width: 90%;
    max-width: 590px;
   
}

main h2{
margin-bottom: 70px;
}

.membros { 
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
}

.nick{
color:rgb(0, 0, 0);
font-weight: bold;
font-size: 15px;
display: flex;
align-items: center;
justify-content: center;
position: relative;
}

.nick::before{

    content: "";
    background-color: #312b3327;
    
    width: 62px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
}

.membro p {

    margin-top: auto;
    padding: 16px;

}

header h2{
    font-weight: bold;
    background-color:  rgb(0, 162, 232); 
    text-align: left;
}


  .gallery-container {
    width: 90%;
    position: relative;
    margin: 0 5%;
    background: #333;
    padding: 2px;
  }
    @media (min-width: 480px) {
        .gallery-container {
          width: 500px;
          margin: auto;
        }
    }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0,0,0,0.1);
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    width: 100%;
    text-align: center;
  }
  
  .imgslide {
    width: 100%;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 14px;
    padding: 8px 12px;
    position: relative;
    top: 0;
  }
  @media (max-width: 768px) {
    .numbertext {
      top: 15px;
    }
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  div {
    background-image: url(../image/fundomain.jpg) no-repeat ;
    
  }
  /***********
Lista horizontal*/
ul{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 720px;
  display: flex;
 
}
ul li{
  float: left;
  background: url(../image/aba-direita.png) no-repeat top right ;
}
li a{
 display: block;
  padding: 0px 2em;
  line-height: 3em;
  text-decoration: none;
  background: url(../image/aba-esquerda.png)no-repeat top left;
  color: #f2f2f2;
}

ul a:hover {
  color: #333;
}

ul #atual{
  background: url(../image/aba-direita-atual.png) no-repeat top right;
}
ul #atual a{
  background: url(../image/aba-esquerda-atual.png) no-repeat top left;
  color: #000000;
}
h2, ul{
  margin-bottom: 0px;
}
/*Barra de naveg. horizontal home, sobre, servicos,noticias,
 contato*/
 
footer{
  background: url(../image/tecnicas-de-Marketing-Digital.jpg) no-repeat;

 
  background-position: center ;
}

 header{
   background:url(../image/fundomain.jpg) no-repeat;
  
   background-size: 100%;
   background-position: top;
   margin: 2px;
   color:white;
  }
  