*{
    margin: 0px;
   
    max-width: 1525px;
   
  }
  .body-container{
    display: grid;
    
  }
  
   .inicio,  button{
  justify-items: self-end;
  display: flex;
  align-items: center;
  background-color:rgb(63, 72, 204) ;
  }
  div button{
    margin-left: auto;
    color: white;
    font-weight: bold;
    margin-right: 30px;
    border-bottom-width: 1px;
    border-radius: 6px;
    border-color:rgb(26, 36, 175) ;
   
  }
  
  body{
    background-color: #f2f2f2;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  ul{
    list-style-type: none;
    margin-top:0;
    padding:0;
    max-width: 200px;
  }   
  li{ 
   background: url(../imagens/setaazul.png)no-repeat;
  }
  ul a {
        
          width: 200px;
          height: 40px;
          display: flex;
          color: #000;
          text-decoration: none;
          background: rgb(0, 162, 232) url(../image/barradetarefas.png) no-repeat;
          border-radius: 1px;
          text-indent: 40px;
          line-height: 40px;       
          float: left;
          transition: all .3s;
  }
  
  a:hover {
          background-position: right bottom;
          color:#fff;
          background-color: rgb(63, 72, 204);
  }  
  #home #navegacao .home a,
  #home #navegacao .sobre a,
  #home #navegacao .noticias a,
  #home #navegacao .contato a{
        background-position: right bottom;
        color:#fff;
        background-color: rgb(63, 72, 204);
  }
  /* fim da lista*/
  
  h1{
    background-color: rgb(63, 72, 204) ;
    color: #fff;
  }
  
  header{
    background-color: white;
    box-sizing: border-box;
    height: 250px;
    
    text-align: center;
    margin: 0 auto 70px;
    margin-top: -180px;
    width: 70%;
    border-radius: 6px;
    margin-left: 300px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
  }
  
  main{
    background-color: white;
    box-sizing: border-box;
    height: 500px;
    
    
    margin: 0 auto 70px;
    
    width: 70%;
    border-radius: 6px;
    margin-left: 300px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
  
  }
  
  h2, p{
    background-color: white;
  }
  
  btn, p{
    margin-bottom: 70px;
  }
  
  /*Login */
  .modal-container{
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
  }
  .modal-container.ativo {
    display: flex;
  }
  
  .modal{
    min-width: 300px;
    background: white;
    padding: 40px;
    border: 10px solid rgb(63, 72, 204);
    box-shadow: 0 0 0 10px white;
    position: relative;
  }
  @keyframes modal {
    from {opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
    }
  }
  .ativo .modal{
    animation: modal .3s forwards;
  }
  
  .fechar{
    position: absolute;
    top: -20px;
    right: -20px;
    border-radius: 50%;
    border: 4px solid rgb(255, 51, 51);
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .modal label {
  font-family: 'IBM Plex Mono', monospace;
  display: block;
  font-weight: bold;
  margin: 1rem 0 .5rem 0;
  }
  
  .modal input{
    width: 100%;
    padding: .7rem .5rem;
    box-sizing: border-box;
    
  }
  
  .modal button[type="submit"] {
  display: block;
  background:rgb(63, 72, 204) ;
  border: none;
  border-radius: 4px;
  padding: .7rem .2rem;
  font-size: 1rem ;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  margin-top: 1rem;
  font-weight: bold;
  }