@import 'geral.css';

main .numeros-grid{
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px
}
.numeros-grid h3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  margin-bottom: .5rem;
}

.numeros-grid span{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  font-weight: bold;
  font-size: 1.5rem;
  color: #E54;
}